<div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vertical-centered">
    <div class="modal-content" >
	<h2>Editer cette catégorie <small>{{category.title}}</small></h2>
	<form class="form" role="form" ng-submit="submitEdit()">
		    <input type="text" name="title" class="form-control input-lg  col-xs-6" ng-model="category.title" placeholder="Titre">
		 <div class="rowbutton">
		    	<div class=" input-lg btn btn-danger btn-lg" data-toggle="modal" data-target=".editModal" value="Annuler">Annuler</div>
		    	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Ajouter">
		 </div>
	</form>

    </div>
  </div>
</div>