<h1>ADMIN git ok</h1>

<span class="glyphicon glyphicon-search">ezzr</span>

<div ng-app="app">
	



<div ng-view></div>




<!-- <clientresize  multiple="true" boxsize="500" itemid="IDArticleToEdit" itemtype="'article'" steps="[  
          {  
            'title':'miniature',
            'folder':'thumbs',
            'width': 200,
            'height':300
          },{  
            'title':'thumbs',
            'folder':'thumbs2',
            'width': 600,
            'height':400
          },{  
            'title':'thumbs333',
            'folder':'thumbs2',
            'width': 800,
            'height':600
          }
        ]"  class="cl-wrapper"></clientresize> -->




	
</div>	