<div ng-app="app"  ng-controller="appCtrl">

<div ng-controller="uploadCtrl">
<clientresize  multiple="true" boxsize="500" itemid="IDArticleToEdit" itemtype="'article'" uploadurl="image/upload" steps="articleResizeImageSteps"  class="cl-wrapper"></clientresize>
</div>
</div>
