<div ng-app="app" ng-controller="uploadCtrl">

<clientresize  multiple="true" boxsize="500" itemid="IDArticleToEdit" itemtype="'article'" uploadurl="image/upload" steps="[  
          {  
            'title':'miniature',
            'folder':'thumbs',
            'width': 200,
            'height':300
          },{  
            'title':'thumbs',
            'folder':'thumbs2',
            'width': 600,
            'height':400
          },{  
            'title':'square',
            'folder':'thumbs3',
            'width': 400,
            'height':400
          }
        ]"  class="cl-wrapper"></clientresize>

</div>
