<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/contents.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/dialog.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/dialog_ie.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/dialog_ie7.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/dialog_ie8.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/dialog_iequirks.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/editor.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/editor_gecko.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/editor_ie.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/editor_ie7.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/editor_ie8.css">
    <link rel="stylesheet" href="/bower_components/ckeditor/skins/moono/editor_iequirks.css">
    <link rel="stylesheet" href="/bower_components/datetimepicker.css">
    <link rel="stylesheet" href="/styles/backoffice/importer.css">
    <link rel="stylesheet" href="/styles/backoffice/jquery-ui.css">
    <link rel="stylesheet" href="/styles/backoffice/slider.css">
    <link rel="stylesheet" href="/styles/backoffice/importer.less">
    <!--STYLES END-->
    <!-- //PEGASUS
    // <script>function pegasus(a,b){return b=new XMLHttpRequest,b.open("GET",a),a=[],b.onreadystatechange=b.then=function(c,d,e){c.call&&(a=[,c,d]),4==b.readyState&&(e=a[0|b.status/200],e&&e(JSON.parse(b.responseText,b)))},b.send(),b}</script> -->
  </head>
  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, filesin your `assets/linker/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/bower_components/jquery.js"></script>
    <script src="/bower_components/bootstrap.js"></script>
    <script src="/bower_components/moment.js"></script>
    <script src="/bower_components/moment-fr.js"></script>
    <script src="/bower_components/marked.js"></script>
    <script src="/bower_components/angular-file-upload-shim.js"></script>
    <script src="/bower_components/angular.js"></script>
    <script src="/bower_components/angular-animate.js"></script>
    <script src="/bower_components/ui-bootstrap.js"></script>
    <script src="/bower_components/ckeditor/ckeditor.js"></script>
    <script src="/bower_components/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router.js"></script>
    <script src="/bower_components/angular-route.js"></script>
    <script src="/bower_components/angular-file-upload.js"></script>
    <script src="/bower_components/ng-table.js"></script>
    <script src="/bower_components/angular-loading-bar.js"></script>
    <script src="/bower_components/datetimepicker.js"></script>
    <script src="/bower_components/markdown_preview.js"></script>
    <script src="/js/backoffice/app.js"></script>
    <script src="/js/backoffice/controllers/appController.js"></script>
    <script src="/js/backoffice/controllers/articlesController.js"></script>
    <script src="/js/backoffice/controllers/articlescategoryController.js"></script>
    <script src="/js/backoffice/controllers/comentController.js"></script>
    <script src="/js/backoffice/controllers/projectController.js"></script>
    <script src="/js/backoffice/dependencies/bootstrap-slider.js"></script>
    <script src="/js/backoffice/dependencies/jquery-ui.min.js"></script>
    <script src="/js/backoffice/dependencies/lodash.js"></script>
    <script src="/js/backoffice/dependencies/sails.io.js"></script>
    <script src="/js/backoffice/directives/auditref.js"></script>
    <script src="/js/backoffice/directives/autoFocus.js"></script>
    <script src="/js/backoffice/directives/ckEditorDirective.js"></script>
    <script src="/js/backoffice/directives/dateFixDirective.js"></script>
    <script src="/js/backoffice/directives/datetimepicker.js"></script>
    <script src="/js/backoffice/directives/removeremove.js"></script>
    <script src="/js/backoffice/directives/textareaCountdown.js"></script>
    <script src="/js/backoffice/directives/urlprefixer.js"></script>
    <script src="/js/backoffice/directives/wrap.js"></script>
    <script src="/js/backoffice/modules/clientresize.js"></script>
    <script src="/js/backoffice/modules/locale-fr.js"></script>
    <script src="/js/backoffice/modules/md-preview.js"></script>
    <script src="/js/backoffice/modules/sortable.js"></script>
    <script src="/js/backoffice/moment.js"></script>
    <script src="/js/backoffice/services/articlesService.js"></script>
    <script src="/js/backoffice/services/articlescategoryService.js"></script>
    <script src="/js/backoffice/services/comentsService.js"></script>
    <script src="/js/backoffice/services/configService.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
