<div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vertical-centered">
   <div class="modal-content">
    	<h2>Editer ce Projet</h2>
    	<hr>
     	<form class="form" role="form" ng-submit="submitEdit()">
            <div class="form-group col-xs-12">
            
                <input type="text" name="title" class="form-control input-lg" ng-model="editProject.title" placeholder="Titre">
          <!-- <input type="date" name="date" class="form-control input-lg  col-xs-2" ng-model="editProject.date" > -->
            </div>
            <div class="form-group col-xs-6">
                <div name="date" class="form-control input-lg"  ng-click="openDatepicker=true"><span class="placedate" ng-show="editProject.date">{{editProject.date | date : 'EEEE d MMMM yyyy - HH:mm' }}</span> <span class="placeholder" ng-hide="editProject.date">Date</span>
                    <div class="openDatepicker" ng-show="openDatepicker">
                            <datetimepicker  data-on-set-time="timeSet" data-ng-model="editProject.date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-6">
                  <span class="placeholderabsolute" ng-hide="editProject.category" >Choisir une catégorie</span>
                <select name="category" class="form-control input-lg" ng-model="editProject.category">
                  <option value=""></option>
                  <option ng-repeat="cat in categories" value="{{cat.id}}" ng-selected="editProject.category == cat.id">{{cat.title}}</option>
                  
                </select>
            </div>
            <markdownpreview ng-model="editProject.content" handleerror="'content'" minheight="300" placehold="'Contenu en markdown'" />
            <markdownpreview ng-model="editProject.shortcontent"handleerror="'shortcontent'" minheight="100" placehold="'Accroche en markdown'" />
            
            
            <wrap class="form-group col-xs-12" mytitle="'les options de référencement'">
                <div class="form-group col-xs-12 nopadding">
                
                    <input type="text" inputcount="255" name="keyword" class="form-control input-lg" ng-model="editProject.keyword" placeholder="Mots clefs, Mots, clefs, clef, Mot clef, Mot">
              <!-- <input type="date" name="date" class="form-control input-lg  col-xs-2" ng-model="editProject.date" > -->
                </div>
                <div class="form-group col-xs-12 nopadding">
                
                    <input inputcount="1000" urlprefixerwidth="230px" urlprefixer="http://momsite.com/blog/project/" model="editProject.rewriteurl" type="text" name="rewriteurl" class="form-control input-lg" ng-model="editProject.rewriteurl" placeholder="Réécriture de l'url">
                </div>
                <div class="form-group col-xs-12 nopadding">
                    <input inputcount="160" model="editProject.description" type="text" name="description" class="form-control input-lg" ng-model="editProject.description" placeholder="Description pour les moteurs de recherche">
                </div>
            	<auditref model="editProject"></auditref>

            </wrap>
            
			 <div class="rowbutton form-group col-xs-12">
			    	<div class=" input-lg btn btn-danger btn-lg"  ng-click="exitEdit()" data-toggle="modal" data-target=".editModal" value="Annuler">Annuler</div>
			    	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Enregistrer">
			 </div>
            
             <div class="clearfix"></div>
		</form>	
    </div>
  </div>
</div>