div.tab-pane {
border: 1px solid #dFdFdF;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top: none;
top: 0px;
padding-top: 20px;
position: relative;
padding:20px 20px 20px 20px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }