

<div class="table-responsive">
	<div class="col-xs-9">
		<button type="button" class="btn btn-info btn-xs" ng-click="newarticle()"><span class="glyphicon glyphicon-plus"></span>Ajouter</button>

		<button ng-show="nbChecked === 1" type="button" class="btn btn-primary btn-xs"  ng-click="linkeditProjet();" ><span class="glyphicon glyphicon-edit"></span>Modifier</button>
		<button ng-show="nbChecked" type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-save"></span>Publier</button>
		<button ng-show="nbChecked" type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-open"></span>Dépublier</button>
		<button ng-show="nbChecked" type="button" ng-click="removeselected()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
		<div  class="nbselected ">
			<ng-pluralize class="small"  count="nbChecked"  when="{'0': 'Aucun article séléctionné','1': '{{nbChecked}} article séléctionné','other': '{{nbChecked}} articles séléctionnés'}" </ng-pluralize>
		</div>
	</div>
	<div class="col-xs-3 pull-right">
		<input type="search" class=" form-control input-sm" ng-model="slug" ng-change="filterMainArray()" placeholder="Recherche . . ." />
		<div class="FilterBox">
			<span class="label label-success" ><input type="checkbox" ng-model="filterActif" ng-change="filterMainArray()"><label for="">actif</label></span>
			<span class="label label-warning" ><input type="checkbox" ng-model="filterInactif" ng-change="filterMainArray()"><label for="">inactif</label></span>
			<span class="label label-info" ><input type="checkbox" ng-model="filterNew" ng-change="filterMainArray()"><label for="">new</label></span>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
		    	<th class="thsbox"><input type="checkbox" ng-model="allchecked" ng-click="checkAll(allchecked)"></th>
		    	<th class="thtitle" ng-click="order ='title';reverse=false; " style="cursor:pointer">Titre<span ng-show="order==='title'" class="caret"></span></th>
		    	<th  ng-click="order ='content';reverse=false; " style="cursor:pointer">Contenu<span ng-show="order==='content'" class="caret"></span></th>
		    	<th class="thcategory" ng-click="order ='category' ;reverse=false;" style="cursor:pointer">Categorie<span ng-show="order==='category'" class="caret"></span></th>
		    	<th class="thstatus" ng-click="order ='status' ;reverse=false;" style="cursor:pointer">Status<span ng-show="order==='status'" class="caret"></span></th>
		    	<th class="thdate" ng-click="order ='date'; reverse=true" style="cursor:pointer">Date<span ng-show="order==='date'" class="caret"></span></th>
			</tr>
		</thead>
		<tbody class="AppendLine">
			<tr class="ligneDajout bg-info" ng-show="newArticle.working">
				<td colspan="6" class="bg-info">
				<form class="form-inline" role="form" ng-submit="submitNewArticle()">
					<div class="form-group">
					    <input type="text" name="title" class="form-control input-sm" ng-model="newArticle.title" placeholder="Titre">
					 </div>
					 <div class="form-group">
					    <input type="date" name="date" ng-model="newArticle.date" class="form-control input-sm"  placeholder="Titre">
					 </div>
					 <div class="form-group pull-right ">
					    <div class=" input-sm btn btn-danger btn-xs"  ng-click="exitNew()" value="Annuler">Annuler</div>
					 </div>

					 <div class="form-group pull-right ">
					    <input type="submit"  class="form-control input-sm btn btn-success btn-xs"   value="Ajouter">
					 </div>
				</form>	


				</td>
			</tr>
		    <tr ng-repeat="article in articles | articlesFilter:slug:filterActif:filterInactif:filterNew | orderBy:order:reverse" class="animate-repeat ligne" rel="{{article.id}}"  ng-class="{active : article.checked }"  ng-dblclick="dblclick(article);" >
		    		<td><input type="checkbox" ng-model="article.checked" ng-change="filterMainArray()"></td>
			    	<td>{{article.title}}</td>
			    	<td>{{article.content}}</td>
			    	<td>
			    	<span class="label label-default" >{{article.category}}</span>
			    	</td>
			    	<td>
			    	<span class="label " ng-class="{'label-info' : article.status=='New','label-success' : article.status=='Actif','label-warning' : article.status=='Inactif'}">{{article.status}}</span>
			    	</td>
			    	<td >{{article.date | date:' dd/MM/yyyy'}}</td>
		    	
		    		
				
		    </tr>
		    <tr class="ligneModif" ui-view="editarticlesView">
		    	
			</tr>
		</tbody>
	</table>
</div>