<td  colspan="6" class="bg-info">


<form class="form" role="form" >
	<div class="row">

		<div class="form-group col-sm-9">
		<label for="">Titre</label>
		    <input type="text" name="title" class="form-control input-sm" ng-model="categoryToEdit.title" placeholder="Titre">
		 </div>
		 
	</div>
	 <div class="form-group form-inline col-sm-4 pull-right ">
	    <div class="form-control input-sm btn btn-danger btn-xs pull-right"  ng-click="exitCat()" value="Annuler">Annuler</div>
	    <div   class="form-control input-sm btn btn-success btn-xs pull-right" ng-click="submitEditCategory('leave')" >Enregister</div>
	    <!-- <div   class="form-control input-sm btn btn-success btn-xs pull-right" ng-click="submitEditArticle('stay')" >Enregister et rester</div> -->
	    <!-- <input type="submit"  class="form-control input-sm btn btn-success btn-xs pull-right"   value="Enregister et rester"> -->
	 </div>

</form>	
</td>