<td  colspan="6" class="bg-info">


<form class="form" role="form" ng-submit="submitEditArticle()">
	<div class="row">

		<div class="form-group col-sm-9">
		<label for="">Titre</label>
		    <input type="text" name="title" class="form-control input-sm" ng-model="articleToEdit.title" placeholder="Titre">
		 </div>
		 <div class="form-group col-sm-3">
		 <label for="">Date</label>
		    <input type="date" name="date" date-fix ng-model="articleToEdit.date" class="form-control input-sm"  placeholder="Titre">
		 </div>
		 <div class="form-group col-sm-12">
		    <textarea class="ck-editor" ng-model="articleToEdit.content"></textarea>
		 </div>
		 <div class="form-group col-sm-4">
		 <label for="">Catégorie</label>
		    <select class="form-control" ng-model="articleToEdit.category">
			  <option>Biotech</option>
			  <option>alimentation</option>
			  <option>Energie Future</option>
			</select>
		 </div>
		 <div class="form-group col-sm-4">
		 <label for="">Status</label>
		    <select class="form-control" ng-model="articleToEdit.status">
			  <option>Actif</option>
			  <option>Inactif</option>
			</select>
		 </div>
	</div>
	 <div class="form-group col-sm-1 pull-right ">
	    <div class=" input-sm btn btn-danger btn-xs"  ng-click="exit()" value="Annuler">Annuler</div>
	 </div>
	 <div class="form-group col-sm-3 pull-right ">
	    <input type="submit"  class="form-control input-sm btn btn-success btn-xs"   value="Enregister">
	 </div>
</form>	
</td>