<td  colspan="6" class="bg-info" style="position:relative">

	<ul class="listbigimages" ui-sortable ng-model="articleToEdit.images">
		<li ng-repeat="image in articleToEdit.images ">
			<img ng-src="{{image.urlBig}}" alt="{{image.name}}" >
		</li>
	</ul>
	<div class="form-group form-inline col-sm-2 pull-right ">
		<div class="form-control input-sm btn btn-success btn-xs pull-right" ng-click="addImg()" >Enregister l'ordre</div>
	</div>
	<hr>
	<clientresize  multiple="true" boxsize="500" itemid="IDArticleToEdit" itemtype="'article'" steps="[  
          {  
            'title':'miniature',
            'folder':'thumbs',
            'width': 200,
            'height':300
          },{  
            'title':'thumbs',
            'folder':'thumbs2',
            'width': 600,
            'height':400
          }
        ]"  class="cl-wrapper"></clientresize>
</td>